.background_co {
background-color: blue;
height:400px;


}
.stylefont {
    color:white;
    font-size: 0.8rem;
padding: 170px 0 150px 70px ;

    line-height: 10px;
    
    
}
.style_h1 {
    font-weight: bold;
    font-size: 1rem;

}
.style_h2 {

}
.bacham {
    text-align: center;
}
.mauvang { color: yellow;}
.mauchang {
    color: white;
}