.container {

}
.imgbackground {
    background-color: cornflowerblue;
    height: 700px;

}
.bodycen {
    text-align: center;


}
.whitetext { color: white;
    line-height: 50px;
 }
.fa-bold {

}
.fa-normal {

}
.button15 {
    border-radius: 2%%;

}
.mauchang {

}
.mauvang {

} 
.bacham {
    text-align: center;
}
.mauvang { 
    color: yellow;
}
.mauchang {
    color: white;
} 