body {
    margin: 0 auto;
}
h1 {
    color: white;
    background-color: aquamarine;
    text-align: center;
    display: inline;
    stroke: none;
    margin-block-start: 0fr;
    max-resolution: red;
    
}

